*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 5px 20px;
}

header img, h1{
    vertical-align: middle;
}

h1{
    display: inline-block;
}

main{
    background-color: #00A2FA;
    padding: 30px;
    
}

.buttons, .list{
    width: 70%;
    background-color: white;
    margin: auto;
}

.buttons{
    padding: 10px 50px;
    height: 50px;
    border-bottom: #F4F7F8 solid 1px;
    border-radius: 5px 5px 0 0;
}

.button{
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.first{
    background-color: #00A2FA;

}

.second{
    background-color: white
}

p{
    display: inline-block;
}

.list{
    border-radius: 0 0 5px 5px;
    padding: 30px 50px;    
}

p span{
    color: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border: solid 1px;
}