*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin: 5px 20px;
}

/* logo */
header img, h1{
    vertical-align: middle;
}

h1{
    display: inline-block;
}

main{
    background-color: #00A2FA;
    padding: 30px 0 300px;
    
}

/* prima sezione */
.buttons, .list{
    width: 60%;
    background-color: white;
    margin: auto;
}

.buttons{
    padding: 10px 50px;
    height: 50px;
    border-bottom: #F4F7F8 solid 1px;
    border-radius: 5px 5px 0 0;
}

.button{
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.first{
    background-color: #00A2FA;

}

.second{
    background-color: white
}

p{
    display: inline-block;
    padding: 10px;
}

/* seconda sezione */
.list{
    border-radius: 0 0 5px 5px;
    padding: 20px 30px;    
}

section{
    margin: 20px;
}


/* cerchi verdi */
p span{
    color: green;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    border: solid 1px;
    font-size: 14px;
}

.cross{
    color: red;
  }

.tag{
    color: white;
    font-size: 9px;
    border-radius: 11px;
    padding: 4px;
}

.editional{
    background-color: #00A1E6;
}

.Q1-Goals{
    background-color: #9F52DC;
}

.recruiting{
    background-color:#11C0A3; 
}

.mobile{
    background-color: #FF8D25;
}

.website{
    background-color: #ED3B8F;
}

.sales{
    background-color: #9BCB35;
}